body  {
       background-image: linear-gradient(rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
  }
  
.stars {
      width: 100%;
      height: 100vh;
        background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
        z-index: 0;
        animation-name: twinkling;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}

.img1{
  position: absolute;
  top: 50%;
  right:10%;
  width: 15%;
  z-index: 10;
  animation-name: earth;
  animation-duration:20s;
  animation-iteration-count: infinite;
}

.img2{
  position: absolute;
  width: 15%;
  z-index: 10;
  top: 35%;
  left: 10%;
  animation-name: mars;
  animation-duration:20s;
  animation-iteration-count: infinite;
}

.img3 {
  position: absolute;
  width: 10%;
  top: 50%;
  right: 22.5%;
  animation-name: rocket;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  z-index: 10;
  animation-timing-function: ease-in;
}
.img4 {
  position: absolute;
  width: 8%;
  top: 7%;
  left: 60%;
  animation-name: musk;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.img4-text {
  display: inline-block;
  color: white;
  position: absolute;
  top: 10%;
  left: 70%;
  animation-name: musk;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-size: 25px;
  width: 20%;
}
.img5 {
  position: absolute;
  width: 10%;
  top: 18%;
  left: 12%;
  animation-name:flag;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.doli {
  position: absolute;
  width: 20%;
  top: 55%;
  right: 22.5%;
  animation-name:doli;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in;
}
.tiki {
  position: absolute;
  width: 17%;
  top: 47%;
  left: 40%;
  animation-name:tiki;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in;
}
@keyframes twinkling {
  0% {
      opacity: 0.2;
  }
  50% {
      opacity: 1;
  }
  80% {
      opacity: 0.5;
  }
  100% {
      opacity: 0.2;
  }
}

@keyframes rocket {
  from{
  right: 20%; 
  }
  to {
  top:33%;
  right: 75%;
  }
}


@keyframes mars {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes earth {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes musk {
  0% {
      opacity: 0;
  }
  87% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes flag {
  0% {
      opacity: 0;
  }
  95% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes doli {
  0%{
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
 30%{
    opacity: 0.5;
    top:  55%;
    right: 22.5%;
  }
  80% {
    opacity: 1;
  }
  100%{
   top:80%;
   opacity: 0;
  }
}

@keyframes tiki {
 0%{
   opacity: 0;
 }
 50%{
   opacity: 0;
 }
 59%{
   opacity: 0;
 }
 68% {
   opacity: 0.5;
 }
 70%{
  opacity: 1;
  top: 47%;
  left: 40%;
 }
 100%{
   top: 100%;
   opacity: 0;
 }
}